@import url('https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/valorant");
@font-face{font-family:valorant;font-style:normal;font-weight:400;src:local('VALORANT'),url('https://fonts.cdnfonts.com/s/37505/Valorant Font.woff') format('woff')}
@layer base {
  html {
    @apply scroll-smooth;
  }
}
  
*{
  font: 'Gilroy', sans-serif;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  font-family: 'Gilroy-Bold', sans-serif;

}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0e0e0e;
  overflow-x: hidden;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
body{
  margin: 0 !important;
  width: 100vw !important;
}

.bg-fixed {
  background-color: rgb(44, 44, 44);
}

.dot {
  width: 20px;
  height: 20px;
  background: #c5c5c5;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: gray;
}